#first{
    background-color: green;
    width: 50px;
    height: 50px;
    border: solid;
    border-color: black;

    display: inline-block ;

}
#second{
    background-color: orange;
    border: solid;
    border-color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
}
body{
    background-color:gray
}
.button
{
    background-color: green;
}
#container
{
    box-shadow: 2px 2px;
width: 220px;
}